{{ define "head" }}
	<title> {{ .Pet.Name }} - Amponin </title>

	<link rel="stylesheet" href="/static/styles/pages/pet/get-by-id.css">
	<link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
	/>
	<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

	<script defer src="/static/scripts/pages/pet/get-by-id.js"></script>
	<script defer src="/static/scripts/notification-bar.js"></script>
{{ end }}

{{ define "content" }}
	<div class="container">
		<div class="pet-container">
			<div class="pet-images">
				<div id="pet-images-carousel" class="pet-images__carousel">
					<div class="swiper-wrapper">
						{{ range .Pet.Images }}
							<div class="swiper-slide"> 
								<img src="{{ .URL }}">
							</div>
						{{ end }}
					</div>
				</div>
				<div id="pet-images-carousel-thumbs" class="swiper pet-images__thumbs">
					<div class="swiper-wrapper">
						{{ range .Pet.Images }}
							<div class="swiper-slide pet-images__thumbs-item"> 
								<img src="{{ .URL }}">
							</div>
						{{ end }}
					</div>
				</div>
			</div>
			<div class="pet-info">
				<div class="pet-info__heading pet-name--with-gender">
					{{ if eq .Pet.Gender `female` }}
						<div class="pet-info__gender pet-info__gender--female">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
								<path d="M80 176a112 112 0 1 1 224 0A112 112 0 1 1 80 176zM224 349.1c81.9-15 144-86.8 144-173.1C368 78.8 289.2 0 192 0S16 78.8 16 176c0 86.3 62.1 158.1 144 173.1l0 34.9-32 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l32 0 0 32c0 17.7 14.3 32 32 32s32-14.3 32-32l0-32 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-32 0 0-34.9z" fill="currentColor"/>
							</svg>
							<span class="sr-only">Female</span>
						</div>
					{{ else if eq .Pet.Gender `male` }}
						<div class="pet-info__gender pet-info__gender--male">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
								<path d="M289.8 46.8c3.7-9 12.5-14.8 22.2-14.8l112 0c13.3 0 24 10.7 24 24l0 112c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-33.4-33.4L321 204.2c19.5 28.4 31 62.7 31 99.8c0 97.2-78.8 176-176 176S0 401.2 0 304s78.8-176 176-176c37 0 71.4 11.4 99.8 31l52.6-52.6L295 73c-6.9-6.9-8.9-17.2-5.2-26.2zM400 80s0 0 0 0s0 0 0 0s0 0 0 0zM176 416a112 112 0 1 0 0-224 112 112 0 1 0 0 224z" fill="currentColor"/>
							</svg>
							<span class="sr-only">Male</span>
						</div>
					{{ end }}
					<h1>{{ .Pet.Name }}</h1>
				</div>
				<p class="pet-info__age">{{ if .Pet.IsBirthDateApprox -}} Approx. {{ end -}} {{ calculate_age .Pet.BirthDate }}</p>
				<div>
					<a href="/shelter/{{ .Shelter.ID }}" class="pet-info__shelter-name">{{ .Shelter.Name }}</a>
					<div class="pet-info__shelter-address">{{ .Shelter.Address }}</div>
				</div>
				<p class="pet-info__description">{{ .Pet.Description }}</p>
			</div>
		</div>
	</div>
{{ end }}
