.shelter-settings {
	gap: .75rem;
}

.shelter-settings-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;
}

.shelter-settings-section__action {
	min-width: 8rem;
}

.shelter-settings-section__heading {
	text-transform: uppercase;
	font-size: 1rem;
	margin: 0;
}

.shelter-settings-section__details {
	margin: 0;
}
