<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/style.css" rel="stylesheet">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
		<link rel="manifest" href="/static/site.webmanifest">

		<script src="/static/scripts/user-menu.js" defer></script>
		
		{{ block "head" . }} {{ end }}
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/" class="navbar__logo"><img src="/static/logo-full.png" alt="Amponin"></a>
				
				{{ with .LoginSession }}
					<div id="user-menu" class="user-menu" data-js-active-class="user-menu--active">
						<button id="user-menu-button" class="user-menu__button user-menu__button--avatar">
							<img src="{{ with .Avatar }} {{ .URL }} {{ else -}} /static/default-user-avatar.png {{- end }}" alt="">
							<span class="sr-only">User Menu</span>
						</button>
						<div id="user-menu-items" class="user-menu__items">
							<div class="user-menu__item user-menu__profile">
								<img src="{{ with .Avatar -}} {{ .URL }} {{- else -}} /static/default-user-avatar.png {{- end }}" alt="" class="user-menu__profile-avatar">
								<div>
									<p class="user-menu__profile-name" title="{{ .Name }}">{{ .Name }}</p>
									<a href="/account">Edit Info</a>	
								</div>
							</div>
							<hr>
							<a href="/shelter" class="user-menu__item user-menu__item--with-icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="user-menu__item-icon">
									<path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
								</svg>
								<span>shelters</span>
							</a>
							<a href="/logout" class="user-menu__item user-menu__item--with-icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="user-menu__item-icon">
									<path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
								</svg>
								<span>logout</span>
							</a>
						</div>
					</div>
				{{ else }}
					<div class="navbar__links">
						<a href="/signup" class="button button--outline">Signup</a>
						<a href="/login" class="button">Login</a>
					</div>
				{{ end }}
			</nav>
			{{ block "header-beforeend" . }} {{ end }}
		</header>
		<div class="container">
			{{ template "content" . }}
		</div>
	</body>
</html>
