.hero {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.hero__heading-group {
	font-size: 1.5rem;
	flex-grow: 999;	
	flex-basis: 0;
	min-width: 40%;
}

.hero__heading-group * {
	margin: 0;
}

.hero__heading {
	font-size: 3rem;
	margin-bottom: .25em;
}

.hero__action {
	flex-grow: 1;
	flex-basis: 25rem;
}
