:root {
	--color-base-text: #191D23;
	--color-base-text-alt: white;
	--color-base-background: white;
	--color-primary: #191D23;
	--color-primary-inverse: white;
	--color-primary-background: var(--color-primary, #191D23);
	--color-shadow: rgba(0, 0, 0, .15);
	--color-error: #EB564C;
	--color-warn: #F8E766;
	--color-success: #26BA4E;

	--radius: .5rem;
	--radius-lg: 1rem;
	--spacing-gutter: 1.5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Fredoka, sans-serif;
	background-color: #FFF0E2;
	min-height: 100vh;
	margin: 0;
}

img {
	width: 100%;
}

.button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	font-family: inherit;

	display: inline-block;
	font-weight: 600;
	font-size: inherit;
	text-transform: uppercase;
	color: var(--color-primary-inverse, white);
	background-color: var(--color-primary, black);
	padding: var(--element-padding-vertical, .875rem) var(--element-padding-horizontal, 1.5rem);
	border-radius: var(--radius);
	outline-offset: .125rem;
}

.button--outline { 
	background-color: transparent;
	color: var(--color-primary, black);
	box-shadow: 0 0 0 .125rem inset var(--color-primary, black);
}

.form-label {
	font-size: .875rem;
	text-transform: uppercase;
	display: block;
}

.form-label + * {
	margin-top: .25rem;
}

.form-control {
	display: block;
	border: none;
	width: 100%;
	box-shadow: 0 0 0 .125rem #D8D7D7;
	padding: .75rem 1rem;
	border-radius: var(--radius);
}

.form-helper--error {
	color: var(--color-error, salmonRed);
}

.card {
	background-color: var(--color-base-background, white);
	box-shadow: 0 2px 3px var(--color-shadow);
	border-radius: var(--radius-lg);
	padding: 1.5rem;
}

.card__heading {
	margin: 0;
	font-size: 1.875rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.card__subheading {
	margin: 0;
	margin-bottom: 1rem;
	font-weight: 600;
	font-size: 1.25rem;
	text-align: center;
}

.card__toast {
	padding: 1rem;
	background-color: #E7EBEF;
	border-radius: var(--radius);
	text-align: center;
	margin-bottom: 1rem;
}

.card__toast--error {
	background-color: var(--color-error);
	color: var(--color-base-text-alt);
}

.card__toast--warn {
	background-color: var(--color-warn);
	color: var(--color-base-text-alt);
}

.card__toast--success {
	background-color: var(--color-success);
	color: var(--color-base-text-alt);
}

.container-fluid {
	padding-inline: var(--spacing-gutter, 2rem);
}

.container {
	padding-inline: var(--spacing-gutter, 2rem);
	width: 100%;
	max-width: 75rem;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-base-background);
	padding: calc(var(--spacing-gutter, 2rem)/2) var(--spacing-gutter, 2rem);
	margin-bottom: 3.12rem;
}

.navbar__logo {
	width: 5rem;
}

.navbar__links {
	display: flex;
	gap: .75rem;
}

.navbar__signup-link {
	display: none;
}

/** UTILITIES **/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.gap {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.w-full {
	width: 100%;
}

.mb-block {
	margin-bottom: 3.12rem;
}

.max-w-sm {
	max-width: 24.5rem;
}

.mx-auto {
	margin-inline: auto;
}

/** END **/


@media (min-width: 460px) {
	.navbar__signup-link {
		display: inline-block;
	}
}
