:root {
	--color-base-text: #191D23;
	--color-base-text-alt: white;
	--color-base-background: white;
	--color-primary: #191D23;
	--color-primary-inverse: white;
	--color-primary-background: var(--color-primary, #191D23);
	--color-shadow: rgba(0, 0, 0, .15);
	--color-error: #EB564C;
	--color-warn: #F59E0B;
	--color-success: #26BA4E;
	--color-text-placeholder: #8C92A6;

	--radius: .5rem;
	--radius-lg: 1rem;
	--spacing-gutter: 1.5rem;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Fredoka, sans-serif;
	background-color: #FFF0E2;
	min-height: 100vh;
	margin: 0;
	line-height: 1.5;
}

img {
	width: 100%;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

h1,
h2,
h3,
h4 {
	line-height: 1.1;
}

.button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	font-family: inherit;

	display: inline-block;
	width: 100%;
	font-weight: 600;
	font-size: inherit;
	text-transform: uppercase;
	color: var(--color-primary-inverse, white);
	background-color: var(--color-primary, black);
	padding: var(--element-padding-vertical, .875rem) var(--element-padding-horizontal, 1.5rem);
	border-radius: var(--radius);
	outline-offset: .125rem;
}

.button--w-max {
	width: max-content;
}

.button--outline {
	background-color: transparent;
	color: var(--color-primary, black);
	box-shadow: 0 0 0 .125rem inset var(--color-primary, black);
}

.button--with-icon {
	--icon-size: 1.5rem;
	text-align: center;
	padding-inline: calc(var(--element-padding-horizontal, .875rem) * 2 + var(--icon-size, 1.5rem));
	gap: .5rem;
	position: relative;
}

.button__icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(var(--element-padding-horizontal, .875rem), -50%);
	width: var(--icon-size, 1.5rem);
}

.form-label {
	font-size: .875rem;
	text-transform: uppercase;
	display: block;
}

.form-label+* {
	margin-top: .25rem;
}

.form-control {
	display: block;
	font-family: inherit;
	font-size: 1rem;
	border: none;
	width: 100%;
	box-shadow: 0 0 0 .125rem inset #D8D7D7;
	padding: .75rem 1rem;
	border-radius: var(--radius);
}

location-input.form-control {
	box-shadow: none;
	padding: none;
}

textarea.form-control {
	resize: none;
	min-height: 15rem;
}

select.form-control:invalid {
	color: var(--color-text-placeholder);
}

.form-control[type="password"] {
	font-family: monospace;
}

.form-helper--error {
	color: var(--color-error, salmonRed);
}

.card {
	background-color: var(--color-base-background, white);
	box-shadow: 0 2px 3px var(--color-shadow);
	border-radius: var(--radius-lg);
	padding: 1.5rem;
}

.card__heading {
	display: block;
	font-size: 1.75rem;
	font-weight: 700;
	text-decoration: none;
	color: inherit;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.card__heading ~ .card__subheading {
	margin-top: -1rem;
}

.card__heading--align-left {
	text-align: left;
}

.card__heading--sm {
	font-size: 1.25rem;
	font-weight: 600;
}

.card__heading--semibold {
	text-transform: none;
}

.card__subheading {
	margin-bottom: 1rem;
	font-size: 1.125rem;
	text-align: center;
}

.card__subheading--align-left {
	text-align: left;
}

.card__flash {
	padding: 1rem;
	background-color: #E7EBEF;
	border-radius: var(--radius);
	text-align: center;
	margin-bottom: 1rem;
}

.card__flash--error {
	background-color: var(--color-error);
	color: var(--color-base-text-alt);
}

.card__flash--warn {
	background-color: var(--color-warn);
	color: var(--color-base-text-alt);
}

.card__flash--success {
	background-color: var(--color-success);
	color: var(--color-base-text-alt);
}

.card__image {
	width: 6rem;
	height: 100%;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	border-radius: var(--radius, .875rem);
	overflow: hidden;
	margin-right: 1.25rem;
}


.header {
	margin-bottom: 5rem;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-base-background);
	padding: calc(var(--spacing-gutter, 2rem)/2) var(--spacing-gutter, 2rem);
}

.navbar__logo {
	width: 5rem;
}

.navbar__links {
	display: flex;
	gap: .75rem;
}

.navbar__signup-link {
	display: none;
}

.notification-bar {
	padding: .5rem var(--spacing-gutter, 1rem);
	background-color: #E7EBEF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notification-bar--error {
	background-color: var(--color-error);
	color: var(--color-base-text-alt);
}

.notification-bar--warn {
	background-color: var(--color-warn);
	color: var(--color-base-text-alt);
}

.notification-bar--success {
	background-color: var(--color-success);
	color: var(--color-base-text-alt);
}

.notification-bar__control {
	background-color: transparent;
	border: none;
	height: 1.25rem;
	width: 1.25rem;
	padding: 0;
	line-height: 1;
	color: inherit;
	flex-grow: 0;
}

.user-menu {
	position: relative;
}

.user-menu__button {
	line-height: 1;
	background-color: transparent;
	border: none;
	border-radius: 99999px;
	overflow: hidden;
	height: 2.75rem;
	width: 2.75rem;
	padding: 0;
}

.user-menu__items {
	position: absolute;
	z-index: 9999;
	background-color: var(--color-base-background);
	right: 0;
	top: 100%;
	transform: translate(0, .5rem);
	border-radius: var(--radius-lg);
	width: 13rem;
	border: .125rem solid var(--color-primary);
	box-shadow: .125rem .125rem 0 0 var(--color-primary);

	display: none;
}

.user-menu__items--active {
	display: block;
}

.user-menu__item {
	background-color: transparent;
	display: flex;
	align-items: center;
	width: 100%;
	padding: .75rem 1rem;
	border: none;
	font-family: inherit;
	font-weight: 600;
	font-size: 1rem;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: var(--radius);
}

.user-menu__item--logout {
	color: var(--color-error);
}

.user-menu__item-logo {
	width: 2rem;
	margin-right: 1rem;
}

.section-heading {
	margin-bottom: 1.5rem;
}

.section-heading h1,
h1.section-heading {
	font-size: 1.85rem;
	text-transform: uppercase;
	font-weight: 700;
}

.heading {
	font-weight: 600;
	color: inherit;
	text-decoration: none;
	line-height: 1.1;
}

.heading--link a,
a.heading--link {
	color: inherit;
	text-decoration: none;
}

.heading--link a:hover,
a.heading--link:hover,
.heading--link a:focus,
a.heading--link:focus {
	text-decoration: underline;
}

.heading--with-gender {
	display: flex;
	align-items: center;
	gap: 1ch;
}

.gender-tag {
	flex-shrink: 0;
	height: 1em;
	width: 1em;
	border-radius: 9999px;
}

.gender-tag--female {
	color: #DC6AAD;
}

.gender-tag--male {
	color: #279AF1;
}

.pet-name--with-gender {
	display: flex;
	align-items: center;
	gap: 2ch;
}

/** UTILITIES **/

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.container-fluid {
	width: calc(100% - 2*var(--spacing-gutter));
	margin: 0 auto;
}

.container {
	width: calc(100% - 2*var(--spacing-gutter));
	max-width: 75rem;
	margin: 0 auto;
}

.container-xs {
	width: calc(100% - 2*var(--spacing-gutter));
	max-width: 24.5rem;
	margin: 0 auto;
}

.container-sm {
	width: calc(100% - 2*var(--spacing-gutter));
	max-width: 40rem;
	margin: 0 auto;
}

.gap {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

/** END **/


@media (min-width: 460px) {
	.navbar__signup-link {
		display: inline-block;
	}
}
