{{ define "head" }}
	<title>Managed Shelters - Amponin</title>
	<link rel="stylesheet" href="/static/styles/pages/shelter/list-managed.css">
{{ end }}

{{ define "content" }}
	<div class="section-heading section-heading--with-action">
		<h1 class="section-heading__text">Shelter you currently manage.</h1>
		<a href="/shelter/register" class="button button--with-icon section-heading__action">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="button__icon">
				<path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z" clip-rule="evenodd" />
			</svg>
			Register New
		</a>
	</div>
	<div class="shelter-thumbnail-list">
		{{ range .Shelters }}
			<div class="shelter-thumbnail">
				<img src="{{ with .Avatar -}} {{ .URL }} {{- else -}} /static/default-shelter-avatar.png {{- end }}" alt="" class="shelter-thumbnail__avatar">
				<div class="shelter-thumbnail__details">
					<p class="shelter-thumbnail__role">{{ .Role }}</p>
					<a class="shelter-thumbnail__name" href="/shelter/{{ .ID }}">{{ .Name }}</a>
					<p class="shelter-thumbnail__address"> {{ .Address }} </p>
				</div>	
			</div>
		{{ else }}	
			<p class="shelter-thumbnail-list__no-result-message"> No managed shelter was found. </p>	
		{{ end }}

	</div>
{{ end }}
