{{ define "head" }}
	<title>Change Password - Amponin</title>
{{ end }}

{{ define "content" }}
	<form class="card card--sm mx-auto" method="post">
		<h1 class="card__heading">Change Password</h1>		

		{{ with .Flash }} 
		<div class="card__flash 
				{{ if eq .Level `success` -}} card__flash--success
				{{- else if eq .Level `warn` -}} card__flash--warn 
				{{- else if eq .Level `error` -}} card__flash--error {{- end -}}"
			>
				{{ .Message }}
			</div>	
		{{ end }}
		
		<div>
			<label for="current-password" class="form-label">Current Password</label>
			<input id="current-password" type="password" name="current-password" value="{{ .FieldValues.CurrentPassword }}"
				class="form-control {{ with .FieldErrors.CurrentPassword }} form-control--invalid {{ end }}"
				{{ with .FieldErrors.CurrentPassword }} aria-invalid="true" {{ end }}
			>
			{{ with .FieldErrors.CurrentPassword }} <small class="form-helper form-helper--error">{{ . }}</small>{{ end }}
		</div>
		<div>
			<label for="new-password" class="form-label">New Password</label>
			<input id="current-password" type="password" name="new-password" value="{{ .FieldValues.NewPassword }}"
				class="form-control {{ with .FieldErrors.NewPassword }} form-control--invalid {{ end }}"
				{{ with .FieldErrors.NewPassword }} aria-invalid="true" {{ end }}
			>
			{{ with .FieldErrors.NewPassword }} <small class="form-helper form-helper--error">{{ . }}</small>{{ end }}
		</div>
		<div>
			<label for="confirm-new-password" class="form-label">Confirm New Password</label>
			<input type="password" name="confirm-new-password" value="{{ .FieldValues.ConfirmNewPassword }}"
				class="form-control {{ with .FieldErrors.ConfirmNewPassword }} form-control--invalid {{ end }}"
				{{ with .FieldErrors.ConfirmNewPassword }} aria-invalid="true" {{ end }}
			>
			{{ with .FieldErrors.ConfirmNewPassword }} <small class="form-helper form-helper--error">{{ . }}</small>{{ end }}
		</div>
		<button type="submit" class="button button--full-width">Submit</button>
	</form>
{{ end }}
