{{ define "head" }}
	<title>Change Email - Amponin</title>
{{ end }}

{{ define "content" }}
	<form class="card card--sm mx-auto" method="post">
		<h1 class="card__heading">Change Email</h1>		
		{{ with .Flash }} 
			<div class="card__flash 
				{{ if eq .Level `success` -}} card__flash--success
				{{- else if eq .Level `warn` -}} card__flash--warn 
				{{- else if eq .Level `error` -}} card__flash--error {{- end -}}"
			>
				{{ .Message }}
			</div>	
		{{ end }}
		<div>
			<label for="new-email" class="form-label">New Email</label>
			<input id="new-email" type="text" name="new-email" value="{{ .NewEmail }}"
				class="form-control {{ with .Error }} form-control--invalid {{ end }}"
				{{ with .Error }} aria-invalid="true" {{ end }}
			>
			{{ with .Error }} <small class="form-helper form-helper--error">{{ . }}</small>{{ end }}
		</div>
		<button type="submit" class="button button--full-width">Submit</button>
	</form>
{{ end }}
