.account {
	gap: 2rem;
}

.account .card__flash {
	margin-top: 1rem;
}

.account__profile {
	text-align: center;
}

.account__profile-avatar {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	border-radius: 9999px;
	overflow: hidden;
}

.account__profile-name {
	font-size: 1.125rem;
}

.account__action {
	color: var(--color-primary-muted);
	text-transform: uppercase;
	font-size: .875rem;
}

.account__action:hover,
.account__action:focus {
	color: var(--color-primary-muted-focus);
}

.account__field-heading {
	text-transform: uppercase;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: .35em;
}

.account__field-heading-text {
	font-size: 1rem;
	margin: 0;
}

.account__field-value {
	margin: 0;
}

.account__field-flash {
	margin: 0;
	padding: var(--element-spacing-vertical) var(--element-spacing-horizontal);
	background-color: var(--color-warn-muted);
	color: var(--color-warn);
	border-radius: var(--element-radius);
}
