:root {
	--color-base-text: #191D23;
	--color-base-text-alt: white;
	--color-base-background: white;
	--color-primary: #191D23;
	--color-primary-inverse: white;
	--color-primary-background: var(--color-primary, #191D23);
	--color-shadow: rgba(0, 0, 0, .15);
	--color-error: #EB564C;
	--color-warn: #F59E0B;
	--color-success: #26BA4E;
	--color-text-placeholder: #8C92A6;

	--radius: .5rem;
	--radius-lg: 1rem;
	--spacing-gutter: 1.5rem;

	--form-element-spacing-horizontal: 1.15rem;
	--form-element-spacing-vertical: .875rem;
	--form-element-radius: .625rem;

	--nav-element-spacing-vertical: .875rem;
	--nav-element-spacing-horizontal: 1.25rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
	margin-block-end: 0;
}

body {
	font-family: Fredoka, sans-serif;
	background-color: #FFF0E2;
	min-height: 100vh;
	margin: 0;
	line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
	  line-height: 1.1;
}

h1, h2,
h3, h4 {
	  text-wrap: balance;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

img,
picture {
	max-width: 100%;
	display: block;
}

fieldset {
	padding: 0;
	border: none;
}

input, button,
textarea, select {
	font-family: inherit;
	font-size: inherit;
}

textarea:not(--form-element-spacing-horizontal) {
	min-height: 10em;
}

:target {
	scroll-margin-block: 5ex;
}

h1,
h2,
h3,
h4 {
	line-height: 1.1;
}

/* BUTTONS */
.button {
	display: inline-block;
	width: auto;
	padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
	color: var(--color-primary-inverse, white);
	font-weight: 600;
	font-size: inherit;
	text-transform: uppercase;
	text-align: center;
	background-color: var(--color-primary);
	border-radius: var(--form-element-radius);
	border: none;
	outline-offset: .125rem;
	font-size: inherit;
	line-height: 1.1;
}

a.button {
	text-decoration: none;
}

.button--outline {
	color: var(--color-primary, black);
	background-color: transparent;
	box-shadow: 0 0 0 .125rem inset var(--color-primary, black);
}

.button--text {
	border: none;
	background-color: transparent;
	color: var(--color-primary, black);
}

.button:where(:has(> .button__icon)) {
	--icon-size: 1.5rem;
	text-align: center;
	padding-inline: calc(var(--form-element-spacing-horizontal) * 2 + var(--icon-size));
	gap: .5rem;
	position: relative;
}

.button .button__icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(var(--form-element-spacing-horizontal, 1.25rem), -50%);
	width: var(--icon-size, 1.5rem);
}

.form-label {
	font-size: .875rem;
	text-transform: uppercase;
	display: block;
}

.form-label+* {
	margin-top: .25rem;
}

.form-control {
	display: block;
	font-family: inherit;
	font-size: 1rem;
	border: none;
	width: 100%;
	box-shadow: 0 0 0 .125rem inset #D8D7D7;
	padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal) ;
	border-radius: var(--form-element-radius);
	line-height: 1.1;
}

textarea.form-control {
	resize: none;
	min-height: 15rem;
}

.form-control[type="password"] {
	font-family: monospace;
}

location-input {
	box-shadow: none;
	padding: none;
}

.form-helper--error {
	color: var(--color-error, salmonRed);
}

.card {
	background-color: var(--color-base-background, white);
	border: .125rem solid var(--color-primary);
	box-shadow: .25rem .25rem 0 0 var(--color-primary);
	border-radius: var(--radius-lg);
	padding: 1.5rem;
}

.card--modal {
	box-shadow: .25rem .25rem 0 0 var(--color-primary);
	border-radius: var(--radius-lg);
}

.card--no-padding {
	padding: 0;
}

.card__hgroup {
	margin-bottom: 1rem;
}

.card__hgroup .card__heading {
	margin-bottom: 0;
}

.card__heading {
	display: block;
	font-size: 1.75rem;
	font-weight: 700;
	text-decoration: none;
	color: inherit;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.card__heading--align-left {
	text-align: left;
}

.card__heading--sm {
	font-size: 1.25rem;
	font-weight: 600;
}

.card__heading--semibold {
	text-transform: none;
}

.card__subheading {
	font-size: 1.125rem;
	text-align: center;
}

.card__flash {
	padding: 1rem;
	background-color: #E7EBEF;
	border-radius: var(--radius);
	text-align: center;
	margin-bottom: 1rem;
}

.card__flash--error {
	background-color: var(--color-error);
	color: var(--color-base-text-alt);
}

.card__flash--warn {
	background-color: var(--color-warn);
	color: var(--color-base-text-alt);
}

.card__flash--success {
	background-color: var(--color-success);
	color: var(--color-base-text-alt);
}

.card__image {
	width: 6rem;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	border-radius: var(--radius, .875rem);
	overflow: hidden;
	margin-right: 1.25rem;
}


.header {
	margin-bottom: 5rem;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-base-background);
	padding: calc(var(--spacing-gutter, 2rem)/2) var(--spacing-gutter, 2rem);
}

.navbar .button {
	--form-element-spacing-vertical: var(--nav-element-spacing-vertical);
	--form-element-spacing-horizontal: var(--nav-element-spacing-horizontal);
}

.navbar .logo {
	flex-shrink: 0;
	flex-grow; 0;
	width: 5rem;
}

.navbar .links {
	display: flex;
	gap: .75rem;
}

.notification-bar {
	padding: .5rem var(--spacing-gutter, 1rem);
	background-color: #E7EBEF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notification-bar--error {
	background-color: var(--color-error);
	color: var(--color-base-text-alt);
}

.notification-bar--warn {
	background-color: var(--color-warn);
	color: var(--color-base-text-alt);
}

.notification-bar--success {
	background-color: var(--color-success);
	color: var(--color-base-text-alt);
}

.notification-bar__control {
	background-color: transparent;
	border: none;
	height: 1.25rem;
	width: 1.25rem;
	padding: 0;
	line-height: 1;
	color: inherit;
	flex-grow: 0;
}

.nav-user-menu {
	position: relative;
}

.nav-user-menu__control {
	line-height: 1;
	background-color: transparent;
	border: none;
	border-radius: 99999px;
	overflow: hidden;
	height: 2.75rem;
	width: 2.75rem;
	padding: 0;
}

.nav-user-menu__control img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.nav-user-menu__items {
	position: absolute;
	z-index: 9999;
	right: 0;
	top: 100%;
	transform: translate(0, .5rem);
	width: 12rem;

	display: none;
}

.nav-user-menu--active .nav-user-menu__items {
	display: block;
}

.nav-user-menu__item {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 1rem;
	padding: .75rem 1rem;
	font-family: inherit;
	font-weight: 600;
	font-size: 1rem;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: var(--radius);
}

.nav-user-menu__item-logo {
	width: 2rem;
}

.heading {
	font-weight: 600;
	color: inherit;
	text-decoration: none;
	line-height: 1.1;
}

.heading--link a,
a.heading--link {
	color: inherit;
	text-decoration: none;
}

.heading--link a:hover,
a.heading--link:hover,
.heading--link a:focus,
a.heading--link:focus {
	text-decoration: underline;
}

.heading--with-gender {
	display: flex;
	align-items: center;
	gap: 1ch;
}

.gender-tag {
	flex-shrink: 0;
	height: 1em;
	width: 1em;
	border-radius: 9999px;
}

.gender-tag--female {
	color: #DC6AAD;
}

.gender-tag--male {
	color: #279AF1;
}

.pet-name--with-gender {
	display: flex;
	align-items: center;
	gap: 2ch;
}

/** UTILITIES **/

.text-error {
	color: var(--color-error);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.container-fluid {
	width: calc(100% - 2*var(--spacing-gutter));
	margin: 0 auto;
}

.container {
	width: calc(100% - 2*var(--spacing-gutter));
	max-width: 75rem;
	margin: 0 auto;
}

.container-xs {
	width: calc(100% - 2*var(--spacing-gutter));
	max-width: 24.5rem;
	margin: 0 auto;
}

.container-sm {
	width: calc(100% - 2*var(--spacing-gutter));
	max-width: 40rem;
	margin: 0 auto;
}

.gap {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

