.shelter-card-list {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
}

.section-heading--with-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section-heading--with-action .button {
	flex-shrink: 0;	
}

.card--shelter {
	display: flex;
	align-items: center;
}

.card--shelter .card__details {
	flex-grow: 10;
	overflow: hidden;
}

.card--shelter .card__heading {
	font-size: 1.5rem;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card--shelter a.card__heading:hover {
	text-decoration: underline;
}

.role-tag {
	display: inline-block;
	width: max-content;
	font-size: .875rem;
	text-transform: uppercase;
	font-weight: 600;
}

@media (max-width: 600px) {
	.section-heading--with-action .button--with-icon > *:not(.button__icon) {
		display: none;
	}

	.section-heading--with-action .button--with-icon {
		padding: var(--element-padding-horizontal, .875rem);	
	}

	.section-heading--with-action .button--with-icon .button__icon {
		position: static;
		transform: none;
	}
}

