@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');

:root {
	--color-primary: #191D23;
	--color-primary-hover: #3E4043;
	--color-primary-inverse: white;
	--color-primary-muted: #DBDFE6;
	--color-primary-muted-inverse: #191D23;
	--color-secondary: #F2F2F2;
	--color-secondary-hover: #E9E9E9;
	--color-secondary-muted: white;
	--color-secondary-muted-inverse: var(--color-primary);
	--color-success: #2DC653;
	--color-success-inverse: white;
	--color-success-muted: #E0F8E6;
	--color-success-muted-inverse: var(--color-success);
	--color-warn: #FA7923;
	--color-warn-inverse: white;
	--color-warn-muted: #FEE2D0;
	--color-warn-muted-inverse: var(--color-warn);
	--color-error: #e54b4b;
	--color-error-inverse: white;
	--color-error-muted: #FFE3E0;
	--color-error-muted-inverse: var(--color-error);

	--color-text: white;
	--color-background: #FFF4EB;
	--color-background-alt: white;

	--spacing: 1rem;
	--block-spacing-horizontal: calc(var(--spacing) * 1.5);
	--block-spacing-vertical: calc(var(--spacing) * 1.5);
	--element-spacing-horizontal: 1.25rem;
	--element-spacing-vertical: .75rem;
	--element-radius: .5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Fredoka, sans-serif;
	font-weight: 400;
	background-color: var(--color-background);
}

img {
	width: 100%;
}

header + * {
	margin-top: 4rem;
}

.container {
	max-width: 75rem;
	padding-inline: var(--block-spacing-horizontal);
	margin-inline: auto;
}

.navbar {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: calc(var(--block-spacing-vertical) * .75) var(--block-spacing-horizontal);
	--element-spacing-horizontal: 1.5rem;
	--element-spacing-vertical: 1rem;
}

.navbar__logo {
	width: 5rem;
}

.navbar__links {
	display: flex;
	align-items: center;
	gap: calc(var(--element-spacing-horizontal)*.5);
}

.button {
	display: block;
	border: none;
	font-family: inherit;
	font-size: inherit;
	background-color: var(--color-primary);
	padding: var(--element-spacing-vertical) var(--element-spacing-horizontal);
	color: var(--color-primary-inverse);
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-radius: var(--element-radius);
}

.button:hover {
	background-color: var(--color-primary-hover);
}

.button:focus {
	outline-offset: .125rem;
}

.button--secondary {
	background-color: var(--color-secondary);
	color: var(--color-secondary-inverse);
}

.button--secondary:hover {
	background-color: var(--color-secondary-hover);
}

.button--outline {
	background-color: transparent;
	box-shadow: inset 0 0 0 .125rem var(--color-primary);
	color: var(--color-primary)
}

.button--outline:hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 .125rem var(--color-primary-hover);
	color: var(--color-primary-hover)
}

.button--with-icon {
	position: relative;
}

.button--full-width {
	width: 100%;
}

.button__icon {
	position: absolute;
	top: 50%;
	left: var(--element-spacing-horizontal);
	transform: translateY(-50%);
	height: calc(var(--element-spacing-vertical)*2.5);
	width: calc(var(--element-spacing-vertical)*2.5);
}

.form-label {
	font-size: .875rem;
	text-transform: uppercase;
}

.form-control {
	display: block;
	width: 100%;
	padding: var(--element-spacing-vertical) var(--element-spacing-horizontal);
	font-family: inherit;
	font-size: inherit;
	border-radius: var(--element-radius);
	border: none;
	box-shadow: inset 0 0 0 .125rem var(--color-primary-muted);
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.form-control:focus {
	box-shadow: inset 0 0 0 .125rem var(--color-primary);
}


.form-control--invalid {
	color: var(--color-error);
	box-shadow: inset 0 0 0 .125rem var(--color-error-muted);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200.25, 79.25, 72.25)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right var(--element-spacing-horizontal);
}

.form-control--invalid:focus {
	box-shadow: inset 0 0 0 .125rem var(--color-error);
}

.form-helper {
	font-size: .875rem;
}

.form-helper--error {
	color: var(--color-error);
}

.card {
	background-color: var(--color-background-alt);
	padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
	max-width: 30rem;
	margin-inline: auto;
	box-shadow: .25rem .25rem 0 0 var(--color-primary);
	border: .125rem solid var(--color-primary);
	border-radius: .75rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.card__heading {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.75rem;
	margin: 0;
}

.card__spacer:before,
.card__spacer--with-text:before,
.card__spacer--with-text:after {
	flex-grow: 100;
	content: "";
	display: block;
	background-color: var(--color-primary);
	height: .125rem;
	border-radius: 1rem;
	opacity: .2;
}

.card__spacer {
	display: flex;
	align-items: center;
	justify-content: stretch;
	gap: 1rem;
	margin-block: .75rem;
}

.card__flash {
	padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
	background-color: var(--color-primary-muted);
	text-align: center;
	color: var(--color-primary-muted-inverse);
	border-radius: var(--element-radius);
}

.card__flash--error {
	background-color: var(--color-error-muted);
	color: var(--color-error-muted-inverse);
}

.card__flash--warn {
	background-color: var(--color-warn-muted);
	color: var(--color-warn-muted-inverse);
}

.card__flash--success {
	background-color: var(--color-success-muted);
	color: var(--color-success-muted-inverse);
}

.notification-bar {
	background-color: var(--color-primary-muted);
	color: var(--color-primary);
	padding: calc(var(--block-spacing-vertical)*.5) var(--block-spacing-horizontal);
}

.notification-bar--error {
	background-color: var(--color-error);
	color: var(--color-error-inverse);
}

.notification-bar--warn {
	background-color: var(--color-warn);
	color: var(--color-warn-inverse);
}

.notification-bar--success {
	background-color: var(--color-success);
	color: var(--color-success-inverse);
}
