@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');

:root {
	--color-primary: #191D23;
	--color-primary-hover: #3E4043;
	--color-primary-inverse: white;
	--color-primary-muted: #8793AB;
	--color-primary-muted-focus: #434D60;
	--color-primary-muted-inverse: #191D23;
	--color-secondary: #F2F2F2;
	--color-secondary-hover: #E9E9E9;
	--color-secondary-muted: white;
	--color-secondary-muted-inverse: var(--color-primary);
	--color-success: #2DC653;
	--color-success-inverse: white;
	--color-success-muted: #E0F8E6;
	--color-success-muted-inverse: var(--color-success);
	--color-warn: #FA7923;
	--color-warn-inverse: white;
	--color-warn-muted: #FEE2D0;
	--color-warn-muted-inverse: var(--color-warn);
	--color-error: #e54b4b;
	--color-error-focus: #e85e5e;
	--color-error-inverse: white;
	--color-error-muted: #FFE3E0;
	--color-error-muted-inverse: var(--color-error);

	--color-text: white;
	--color-background: #FFF4EB;
	--color-background-alt: white;

	--spacing: 1rem;
	--block-spacing-horizontal: calc(var(--spacing) * 1.5);
	--block-spacing-vertical: calc(var(--spacing) * 1.5);
	--element-spacing-horizontal: 1.25rem;
	--element-spacing-vertical: .75rem;
	--element-radius: .5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Fredoka, sans-serif;
	font-weight: 400;
	background-color: var(--color-background);
}

img {
	width: 100%;
}

header + * {
	margin-top: 4rem;
}

a:not([class]) {
	color: var(--color-primary-muted, gray)
}

a:not([class]):hover,
a:not([class]):focus {
	color: var(--color-primary-muted-focus, darkGray)
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.mx-auto {
	margin-inline: auto; 
}

.container {
	max-width: 75rem;
	padding-inline: var(--block-spacing-horizontal);
	margin-inline: auto;
}

.navbar {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: calc(var(--block-spacing-vertical) * .75) var(--block-spacing-horizontal);
	--element-spacing-horizontal: 1.5rem;
	--element-spacing-vertical: 1rem;
}

.navbar__logo {
	width: 5rem;
}

.navbar__links {
	display: flex;
	align-items: center;
	gap: calc(var(--element-spacing-horizontal)*.5);
}

.button {
	display: inline-block;
	border: none;
	font-family: inherit;
	font-size: inherit;
	background-color: var(--color-primary);
	padding: var(--element-spacing-vertical) var(--element-spacing-horizontal);
	color: var(--color-primary-inverse);
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-radius: var(--element-radius);
}

.button:hover {
	background-color: var(--color-primary-hover);
}

.button:focus {
	outline-offset: .125rem;
}

.button--secondary {
	background-color: var(--color-secondary);
	color: var(--color-secondary-inverse);
}

.button--secondary:hover {
	background-color: var(--color-secondary-hover);
}

.button--outline {
	background-color: transparent;
	box-shadow: inset 0 0 0 .125rem var(--color-primary);
	color: var(--color-primary)
}

.button--outline:hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 .125rem var(--color-primary-hover);
	color: var(--color-primary-hover)
}

.button--danger {
	background-color: var(--color-error);
	color: var(--color-error-inverse);
}

.button--danger:hover {
	background-color: var(--color-error-focus);
}

.button--with-icon {
	--icon-size: calc(var(--element-spacing-vertical)*2);
	padding-inline: calc(var(--icon-size) + var(--element-spacing-horizontal) + .25em);
	position: relative;
}

.button--full-width {
	width: 100%;
}

.button__icon {
	position: absolute;
	top: 50%;
	left: calc(var(--element-spacing-horizontal) * .65);
	transform: translateY(-50%);
	height: var(--icon-size);
	width: var(--icon-size);
}

.button--small {
	font-size: .875rem;
	--icon-size: calc(var(--element-spacing-vertical)*1.5);
}

.form-label {
	font-size: .875rem;
	text-transform: uppercase;
}

.form-control {
	display: block;
	width: 100%;
	padding: var(--element-spacing-vertical) var(--element-spacing-horizontal);
	font-family: inherit;
	font-size: inherit;
	border-radius: var(--element-radius);
	border: none;
	box-shadow: inset 0 0 0 .125rem var(--color-primary-muted);
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.form-control:focus {
	box-shadow: inset 0 0 0 .125rem var(--color-primary);
}

textarea.form-control {
	min-height: 15rem;
	resize: none;
}

coordinates-input.form-control {
	padding: 0;
	overflow: hidden;
	display: relative;
}

.form-control--invalid {
	color: var(--color-error);
	box-shadow: inset 0 0 0 .125rem var(--color-error-muted);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200.25, 79.25, 72.25)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right var(--element-spacing-horizontal);
	padding-right: calc(2.5rem + var(--element-spacing-horizontal));
}

textarea.form-control--invalid {
	background: none;
	padding-right: var(--element-spacing-horizontal);
}

.form-control--invalid:focus {
	box-shadow: inset 0 0 0 .125rem var(--color-error);
}

.form-helper {
	font-size: .875rem;
}

.form-helper--error {
	color: var(--color-error);
}

.images-input {
	font-size: .875rem;
	background-color: var(--color-secondary);
	border-radius: var(--element-radius);
	padding: 2rem;
}

.images-input__control {
	display: flex;
	gap: .5rem;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 1rem;
}

.images-input__icon {
	width: 3rem;
	height: 3rem;
}

.images-input__preview-list {
	display: flex;
	gap: calc(var(--element-spacing-horizontal)*.4);
	flex-wrap: wrap;
	margin-top: var(--element-spacing-vertical);
}

.images-input__preview-list:empty {
	display: none;
}

.images-input__preview-item {
	height: 4rem;	
	aspect-ratio: 4/5;
	position: relative;
}

.images-input__preview-item-control {
	background-color: transparent;
	border: none;
	padding: 0;
	line-height: 1;
	display: absolute;	
	color: var(--color-error);
	height: 1.25rem;
	width: 1.25rem;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(30%, -20%);
}

.images-input__preview-item-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: calc(var(--element-radius)*.875);
	overflow: hidden;
}

.card {
	background-color: var(--color-background-alt);
	padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
	box-shadow: -.28rem .28rem 0 0 var(--color-primary);
	border: .125rem solid var(--color-primary);
	border-radius: .75rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.card--sm {
	max-width: 30rem;
}

.card--md {
	max-width: 40rem;
}

.card__heading {
	--heading-size: 1.75rem;
	text-align: center;
	text-transform: uppercase;
	font-size: var(--heading-size);
	margin: 0;
}

.card__heading-primary {
	font-size: var(--heading-size);
	margin: 0;	
}

.card__heading-secondary {
	font-size: 1rem;
	text-transform: none;
	margin: 0;	
}

.card__spacer:before,
.card__spacer--with-text:before,
.card__spacer--with-text:after {
	flex-grow: 100;
	content: "";
	display: block;
	background-color: var(--color-primary);
	height: .125rem;
	border-radius: 1rem;
	opacity: .2;
}

.card__spacer {
	display: flex;
	align-items: center;
	justify-content: stretch;
	gap: 1rem;
	margin-block: .75rem;
}

.card__flash {
	padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
	background-color: var(--color-primary-muted);
	text-align: center;
	color: var(--color-primary-muted-inverse);
	border-radius: var(--element-radius);
}

.card__flash--error {
	background-color: var(--color-error-muted);
	color: var(--color-error-muted-inverse);
}

.card__flash--warn {
	background-color: var(--color-warn-muted);
	color: var(--color-warn-muted-inverse);
}

.card__flash--success {
	background-color: var(--color-success-muted);
	color: var(--color-success-muted-inverse);
}

.notification-bar {
	background-color: var(--color-primary-muted);
	color: var(--color-primary);
	padding: calc(var(--block-spacing-vertical)*.5) var(--block-spacing-horizontal);
}

.notification-bar--error {
	background-color: var(--color-error);
	color: var(--color-error-inverse);
}

.notification-bar--warn {
	background-color: var(--color-warn);
	color: var(--color-warn-inverse);
}

.notification-bar--success {
	background-color: var(--color-success);
	color: var(--color-success-inverse);
}

.user-menu {
	position: relative;
	z-index: 9999;
}

.user-menu__button--avatar {
	display: block;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 99999px;
	overflow: hidden;
	padding: 0;
	border: none;	
}

.user-menu__button--avatar > img {  
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.user-menu__items {
	position: absolute;
	top: 100%;
	right: 0;
	transform: translateY(1rem);
	width: 13rem;
	background-color: white;
	border: .125rem solid var(--color-primary);
	box-shadow: -.2rem .2rem 0 0 var(--color-primary);
	border-radius: var(--element-radius);
	display: none;
}

.user-menu__items hr {
	padding: 0;
	margin: 0 var(--element-spacing-horizontal);
	opacity: .25;
}

.user-menu--active .user-menu__items {
	display: block;
}

.user-menu__item * {
	padding: 0;
	margin: 0;
}

.user-menu__item {
	display: block;
	color: inherit;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
	padding: var(--element-spacing-vertical) var(--element-spacing-horizontal);
	border-radius: var(--element-radius);
}

.user-menu__item > * {
	flex-grow: 1;
	overflow: hidden;
}

.user-menu__item--with-icon {
	position: relative;
}

.user-menu__profile {
	display: flex;
	gap: 1rem;
	align-items: center;
	text-align: left;
	font-size: 1.125rem;
	line-height: 1;
	text-transform: none;
}

.user-menu__profile-avatar {
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	border-radius: 9999px;
	flex-grow: 0;
	flex-shrink: 0;
}

.user-menu__profile a {
	text-transform: uppercase;
	font-size: .875rem;
	outline: none;
}

.user-menu__profile-name {
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.user-menu__profile-avatar {
	height: 2.5rem;
	width: 2.5rem;
	object-fit: cover;
	border-radius: 9999px;
}
.user-menu__item-icon {
	position: absolute;
	top: 50%;
	left: var(--element-spacing-horizontal);
	transform: translateY(-50%);
	width: 1.25rem;
	height: 1.25rem;
	flex-grow: 0;
	flex-shrink: 0;
}

.section-heading {
	margin-bottom: 2rem;
}

.section-heading--with-action {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

.section-heading__text {
	font-size: 1.5rem;
	font-weight: 600;
	flex-grow: 999;
	min-width: 60%;
	margin: 0;
}

.section-heading__action {
	flex-shrink: 0;
	flex-grow: 1;
}
