{{ define "head" }}
	<title>Account - Amponin</title>
	<link rel="stylesheet" href="/public/styles/pages/account.css">
{{ end }}

{{ define "content" }}
<main>
	<div class="card container-xs account">
		<h1 id="login-heading" class="card__heading">Account Settings</h1>
		{{ with .Flash }}
		<div class="card__flash
				{{- if eq .Level `flash_error` }} card__flash--error
				{{- else if eq .Level `flash_warn` }} card__flash--warn
				{{- else if eq .Level `flash_success` }} card__flash--success
				{{- end -}}
			">
				{{ .Message }}					
			</div>
		{{ end }}
		<div class="account__items">
			<div class="account__item">
				<div class="account__item-hgroup">
					<h2 class="account__item-heading">General</h2>
					{{ if ne .Focus `general` }} 
						<a class="account__item-update-link" href="/account?focus=general">Update</a>
					{{ end }}
				</div>
				{{ if eq .Focus `general` }}
					<form action="/account" method="post" class="account__item-content" enctype="multipart/form-data">
						<input type="hidden" name="action" value="general-update">
						<div>
							<label class="form-label">Avatar</label>
							<input type="file" name="avatar">
							{{ with index .GeneralUpdateForm.FieldErrors `avatar` }}
								<small class="form-helper form-helper--error">{{ . }}</small>
							{{ end }}
						</div>
						<div>
							<label for="display-name" class="form-label">Display Name</label>	
							<input id="display-name" type="text" name="display-name" value="{{ .GeneralUpdateForm.DisplayName }}"
								class="form-control">
							{{ with index .GeneralUpdateForm.FieldErrors `display-name` }}
								<small class="form-helper form-helper--error">{{ . }}</small>
							{{ end }}
						</div>
						<div class="account__focus-item-controls">
							<a href="/account" class="button button--outline">Cancel</a>
							<button type="submit" class="button">Apply</button>
						</div>
					</form>
				{{ else }}
					<div class="account__item-content">
						<div>
							<div class="form-label account__item-content-label">Avatar</div>
							<img class="account__avatar account__item-content-value account__item-content-value--avatar" src="{{ with .User.AvatarURL -}} {{ . }} {{- else -}} /public/default-avatar-user.png {{- end }}" alt="User Menu">
						</div>
						<div>
							<div class="form-label account__item-content-label">Display Name</div>
							<div class="account__item-content-value"> {{ .User.DisplayName }} </div>
						</div>
					</div>
				{{ end }}
			</div>	
			<div class="account__item">
				<div class="account__item-hgroup">
					<h2 class="account__item-heading">Email</h2>
					{{ if ne .Focus `email` }}
						<a class="account__item-update-link" href="/account?focus=email">Update</a>
					{{ end }}
				</div>
				{{ if eq .Focus `email` }}
					<form action="/account" method="post" class="account__item-content">
						<input type="hidden" name="action" value="email-update">
						<div>
							<div class="form-label account__item-content-label">Email</div>
							<div class="account__item-content-value"> {{ .User.Email }} </div>
						</div>
						<div class="account__focus-item-controls">
							<a href="/account" class="button button--outline">Cancel</a>
							<button type="submit" class="button">Send Link</button>
						</div>
					</form>
				{{ else }}
					<div class="account__item-content">{{ .User.Email }}</div>
				{{ end }}
			</div>	
			<div class="account__item">
				<div class="account__item-hgroup">
					<h2 class="account__item-heading">Password</h2>
					{{ if ne .Focus `password` }}
						<a class="account__item-update-link" href="/account?focus=password">Update</a>
					{{ end }}
				</div>
				{{ if eq .Focus `password` }}
					<form action="/account?focus=password" method="post" class="account__item-content">
						<input type="hidden" name="action" value="password-update">
						<div>
							<label for="current-password" class="form-label">Current Password</label>	
							<input id="current-password" type="password" name="current-password" value="{{ .PasswordUpdateForm.CurrentPassword }}"
								class="form-control">
							{{ with index .PasswordUpdateForm.FieldErrors `current-password` }}
								<small class="form-helper form-helper--error">{{ . }}</small>
							{{ end }}
						</div>
						<div>
							<label for="new-password" class="form-label">New Password</label>	
							<input id="new-password" type="password" name="new-password" value="{{ .PasswordUpdateForm.NewPassword }}"
								class="form-control">
							{{ with index .PasswordUpdateForm.FieldErrors `new-password` }}
								<small class="form-helper form-helper--error">{{ . }}</small>
							{{ end }}
						</div>
						<div>
							<label for="confirm-password" class="form-label">Confirm Password</label>	
							<input id="confirm-password" type="password" name="confirm-password" value="{{ .PasswordUpdateForm.ConfirmPassword }}"
								class="form-control">
							{{ with index .PasswordUpdateForm.FieldErrors `confirm-password`  }} 
								<small class="form-helper form-helper--error">{{ . }}</small>
							{{ end }}
						</div>
						<div class="account__focus-item-controls">
							<a href="/account" class="button button--outline">Cancel</a>
							<button type="submit" class="button">Apply</button>
						</div>
					</form>
				{{ else }}
					<div class="account__item-content">**********</div>
				{{ end }}
			</div>	
		</div>
	</div>
</main>
{{ end }}
