<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/style.css" rel="stylesheet">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
		<link rel="manifest" href="/static/site.webmanifest">
		
		{{ block "head" . }} {{ end }}
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="/" class="navbar__logo"><img src="/static/logo-full.png" alt="Amponin"></a>
				
				{{ with .LoginSession }}
					<a href="#" class="button">Logout</a>
				{{ else }}
					<div class="navbar__links">
						<a href="/signup" class="button button--outline">Signup</a>
						<a href="#" class="button">Login</a>
					</div>
				{{ end }}
			</nav>
			{{ block "header-beforeend" . }} {{ end }}
		</header>
		<div class="container">
			{{ template "content" . }}
		</div>
	</body>
</html>
