<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/public/style.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
	<link rel="manifest" href="/public/site.webmanifest">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap" rel="stylesheet">

	{{ block "head" . }} {{ end }}
</head>

<body>
	<header>
		<nav class="navbar">
			<a href="/" class="navbar__logo"> <img src="/public/logo-full.png" alt="Amponin"></a>
			
			<div class="navbar__links">
				{{ with .LoginSession }}
					<a class="button" href="#">Logout</a>
				{{ else }}
					<a class="button button--outline navbar__signup-link" href="/signup">Signup</a>
					<a class="button" href="/login">Login</a>
				{{ end }}
			</div>
		</nav>
		{{ block "header-beforeend" . }} {{ end }}
	</header>
	{{ block "content" . }} {{ end }}
</body>

</html>
