{{ define "head" }}
	<title>Amponin - Login</title>
{{ end }}

{{ define "content" }}
<main>
	<div class="card container-xs">
		<h1 id="login-heading" class="card__heading">Login</h1>
		{{ with .Flash }}
		<div class="card__flash
				{{- if eq .Level `flash_error` }} card__flash--error
				{{- else if eq .Level `flash_warn` }} card__flash--warn
				{{- else if eq .Level `flash_success` }} card__flash--success
				{{- end -}}
			">
				{{ .Message }}					
			</div>
		{{ end }}
		<form action="/login?{{ with .CallbackURL -}} callback={{ . }} {{- end }}" method="post" class="gap" aria-labelledby="login-heading">
			<div>
				<label for="email" class="form-label">Email</label>	
				<input id="email" type="text" name="email"
					value="{{ .Form.Email }}"
					class="form-control"
					aria-describedby="email-error">
				{{ with index .Form.FieldErrors `email` }}
					<small id="email-error" class="form-helper form-helper--error">{{ . }}</small>
				{{ end }}
			</div>
			<div>
				<label for="password" class="form-label">Password</label>	
				<input id="password" type="password" name="password" value="{{ .Form.Password }}"
					class="form-control"
					aria-describedby="password-error">
				{{ with index .Form.FieldErrors `password` }}
					<small id="password-error" class="form-helper form-helper--error">{{ . }}</small>
				{{ end }}
			</div>
			<button type="submit" class="button">Submit</button>
		</form>
	</div>
</main>
{{ end }}
