{{ define "head" }}
	<title>Amponin - Register Shelter</title>

	<link rel="stylesheet" href="/public/styles/pages/shelters.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
		crossorigin="" defer></script>
	<script src="/public/scripts/components/location-input.js" defer></script>
{{ end }}

{{ define "content" }}
<main class="container">
	<hgroup class="page-heading-group">
		<h1 class="page-heading-group__heading">Managed Shelter</h1>
		<a href="/shelter/registration" class="page-heading-group__control button button--with-icon button--w-max">
			<svg class="button__icon"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="button__icon">
				<path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
			</svg>
			<span>Register Shelter</span>
		</a>
	</hgroup>
	<div class="shelter-card-list">
		{{ range .ManagedShelter }}
			<article class="card shelter-result">
				<img class="shelter-result__image" src="{{ with .AvatarURL -}} {{ . }} {{- else -}} /public/default-avatar-shelter.png {{- end }}" alt="{{ .Name }}'s Avatar">
				<div class="shelter-result__details">
					<div class="shelter-result__role">
						{{ if eq .Role `super_admin`  }}
							Super Admin 
						{{ else }}
							{{ .Role }}
						{{ end }}
					</div>
					<a href="/shelter/{{ .ID }}" class="shelter-result__name">{{ .Name }}</a>
					<p class="shelter-result__address">{{ .Address }}</p>
				</div>
			</article>
		{{ else }}
			<div class="uppercase">No shelter was found.</div>
		{{ end }}
	</div>
</main>
{{ end }}
