{{ define "head" }}
	<title>Shelter Add Role - Amponin</title>
{{ end }}

{{ define "content" }}
<main>
	<div class="card container-xs">
		<div class="card__hgroup">
			<h1 id="shelter-add-role-heading" class="card__heading">Add Role</h1>
			<p class="card__subheading">{{ .ShelterName }}</p>
		</div>
		{{ with .Flash }}
		<div class="card__flash
				{{- if eq .Level `flash_error` }} card__flash--error
				{{- else if eq .Level `flash_warn` }} card__flash--warn
				{{- else if eq .Level `flash_success` }} card__flash--success
				{{- end -}}
			">
				{{ .Message }}					
			</div>
		{{ end }}
		<form method="post" action="/shelter/{{ .ShelterID }}/roles/add" class="gap" aria-labelledby="shelter-add-role-heading">
			<div>
				<label for="email" class="form-label">Email</label>	
				<input id="email" name="email" type="text" value="{{ .Form.Email }}"
					class="form-control"
					aria-describedby="email-error">
				{{ with index .Form.FieldErrors `email` }}
					<small id="email-error" class="form-helper form-helper--error">{{ . }}</small>
				{{ end }}
			</div>
			<div>
				<label for="role" class="form-label">Role</label>
				<select id="role" name="role" class="form-control">
					<option value="" disabled {{ if eq .Form.Role `` }} selected {{ end }}>Select User's Role</option>	
					<option value="admin" {{ if eq .Form.Role `admin` }} selected {{ end }}>Admin</option>	
					<option value="editor" {{ if eq .Form.Role `editor` }} selected {{ end }}>Editor</option>	
				</select>
				{{ with index .Form.FieldErrors `role` }} 
					<small class="form-helper form-helper--error"> {{ . }} </small>
				{{ end }}
			</div>
			<button type="submit" class="button">Submit</button>
		</form>
	</div>
</main>
{{ end }}
